//
//  StageConfig.xcconfig
//  Goodz
//
//  Created by Jigz's-Macbook   on 01/04/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/\/stag.goodz.ae/api/
BACKEND_URL = https:/\/stag.goodz.ae/

//https:/\/goodzstag.qa.vrinsoft.in/
//http:/\/192.168.1.93:8000/api/v1/

//https://goodzstag.qa.vrinsoft.in/
App_Display_Name = Goodz Stage
